<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name"> Name </label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control" 
                    name="name"
                    ngModel
                    required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount"> Amount </label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    ngModel
                    required
                    pattern="^[1-9]+[0-9]*$"
                    >
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" 
                        [disabled]="!form.valid"> {{ editMode ? 'Update' : 'Add'}} </button>
                        <button class="btn btn-danger" type="button" (click)="onDelete()"> Delete </button>
                        <button class="btn btn-primary" type="button" (click)="onClear()"> Clear </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- BELOW IS THE PREVIOUS OPTION WITHOUT THE TEMPLATE DRIVEN APPROACH-->

<!-- 1. REMOVE ADD CLICK LISTENER -->
<!-- 2. REMOVE LOCAL REFERENCES #NAMEINPUT AND #AMOUNTINPUT -->
<!-- 3. MOVE THE LISTENER TO THE FORM TAG WITH NGSUBMIT -->
<!-- 4. ADD LOCAL REFERENCE TO GET ACCESS TO THE JS OBJECT OF THE FORM and pass it on to the ngSubmit -->
<!-- 5. ADD NGMODEL TO ADD CONTROLS -->
<!-- 6. ADD VALIDATIONS, use pattern to validate the amount-->
<!-- 7. ONLY ACCEPT AMOUNT > 0 WITH A REGEX, WE CAN OMIT SQUARE BRACKETS SINCE WE ARE BINDING TO A STRING -->

<!-- <div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name"> Name </label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    #nameInput
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount"> Amount </label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control"
                    #amountInput
                    >
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit" (click)="onAddNewIngredient()"> Add </button>
                        <button class="btn btn-danger" type="button"> Delete </button>
                        <button class="btn btn-primary" type="button"> Clear </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

