<a
href='#' 
class="list-group-item clearfix" 
(click)="onRecipeClick()"
>
    <div class="pull-left">

        <h4 class="list-group-item-heading">{{ recipeProp.name }}</h4>
        <p class="list-group-item-text">{{ recipeProp.description }}</p>

    </div>

    <span class="pull-right">

        <img 
        [src]=recipeProp.imagePath
        alt="{{ recipeProp.name }}" 
        class="img-responsive" 
        style="max-height: 100px"
        >

    </span>
</a>

<!-- HIS SOLUTION BELOW -->

<!-- <a
href='#' 
class="list-group-item clearfix" 
>

    <div class="pull-left">

        <h4 class="list-group-item-heading">{{ recipeProp.name }}</h4>
        <p class="list-group-item-text">{{ recipeProp.description }}</p>

    </div>

    <span class="pull-right">

        <img 
        [src]=recipeProp.imagePath
        alt="{{ recipeProp.name }}" 
        class="img-responsive" 
        style="max-height: 100px"
        >

    </span>

</a> -->
