<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-xs-12">

            <app-recipe-item 
            *ngFor="let recipe of recipes"
            [name]="recipe.name"
            [description]="recipe.description"
            [src]="recipe.imagePath"
            (recipeSelected)="onRecipeSelected(recipe)"
            [recipeProp]="recipe"
            ></app-recipe-item>

        </div>
    </div>
</div>

<!-- HIS SOLUTION BELOW -->

<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-xs-12">

            <app-recipe-item 
            *ngFor="let recipe of recipes"
            [recipeProp]="recipe"
            ></app-recipe-item>

        </div>
    </div>
</div> -->


