<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" routerLink='new'>New Recipe</button>
    </div>
    <hr>
    <h3>Select recipe to see details</h3>
    <div class="row">
        
        <div class="col-xs-12">

            <app-recipe-item 
            *ngFor="let recipe of recipes; let i = index"
            [recipeProp]="recipe"
            [index]='i'
            ></app-recipe-item>

        </div>
    </div>
</div>

<!-- HIS SOLUTION BELOW -->

<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-xs-12">

            <app-recipe-item 
            *ngFor="let recipe of recipes"
            [recipeProp]="recipe"
            ></app-recipe-item>

        </div>
    </div>
</div> -->


